:root {

    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
  
  }


  .features_list_container {
    position: absolute;
    width: 15%;
    background-color: #fff;
    border-radius: 3px;
    height: 120px;
    margin-top: 1%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


  .features_list_container ul  {

    display: block;
    text-align: center;
    margin-top: 3%;
  }

  .features_list_container ul li span  {

    margin-left: 5%;
    

  }

  .features_list_container ul li {

    padding-top:3%;

  }