:root {

    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
  
  }


  .features_list_container {
    transform: translateY(400px);
    transition: transform 2s ease-in-out;
    position: absolute;
    width: 15%;
    background-color: #fff;
    border-radius: 3px;
    height: 140px;
    margin-top: 1%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 4px 4px 4px 4px #fff;
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition: transform 2s ease-in-out;
    -ms-transition: transform 2s ease-in-out;
    -o-transition: transform 2s ease-in-out;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
}


  .features_list_container ul  {
    display: block;
    text-align: center;
    margin-top: 3%;
    transform: translateY(400px);
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition: transform 2s ease-in-out;
    -ms-transition: transform 2s ease-in-out;
    -o-transition: transform 2s ease-in-out;
}

  .features_list_container ul li span  {

    margin-left: 5%;
    

  }

  .features_list_container ul li {
    padding-top:3%;
    transform: translateY(400px);
    transition: transform 2s ease-in-out;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition: transform 2s ease-in-out;
    -ms-transition: transform 2s ease-in-out;
    -o-transition: transform 2s ease-in-out;
}