 
:root {

    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
  
  }

 .main_container  {

    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    
 }

 .heading_images_container{ 

    display: flex;
    width: 80%;
    
 }
 .main_container .heading_images_container h1 {

    font-size: 3rem;
 }

 .main_container .heading_images_container p {

     color: var( --Medium-Gray);
     margin-top: 5%;
 }

 
 .main_container .heading_images_container button {
    color:#fff;
    margin-top: 6%;
    background-color: #000;
    font-weight: 700;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}


 .heading_images {

    width: 70% ;
 }

 .hero_image_container img {

    width: 40vw;
 }

 .images_container {

  margin-top:  10%;
  width: 100%;
 
 }

 .images_container img {

   padding-right: 6%;
   margin-top: 2%;
 }

 .challenges {

   width: 100%;
   padding-top: 5%;
   text-align: center;
 }

 .p_container {

   width: 50%;
   margin-right: auto;
   margin-left: auto;

 }

 .challenges a {

   text-decoration: none;
   color:#000;
   font-weight: bolder;
   
 }
 


 /* responsive */

@media screen  and (max-width:840px){
   
     .hero_image_container {
          
      margin-top:5%;
      height: auto;
     }
    .heading_images_container {

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
     }

     .main_container {

        width: 100%;
        margin-left: auto;
        margin-right: auto;
     }

     .heading_images_container {

       width:  100%;
     }

     .heading_images{

      margin-top: 5%;
     }
     .main_container .heading_images_container h1 {

        text-align: center;
        font-size: 2rem;
     }

     .main_container .heading_images_container p{

        text-align: center;
     }

     .main_container .heading_images button{

        text-align: center;
     }

     .hero_image_container {

      width: 100%;
      
     }
     
     .hero_image_container img {

      width: 75vw;
      height: 80vh;
      margin-left: 15%;
     }
     
     
      .button_hero_container{

         text-align: center;
      }

     .images_container {
      width: 100%;
      text-align: center;
      margin-left: auto;
      padding-top: 2%;
      
     }
    


    
}