/* tablet & mobile phone menu */


:root {

  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

}


  .menu_container {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 60%;
    top:0;
    right: 0;
    bottom:-100%;
    transition: transform 3s ease-in;
    transform: translateX(4300px);
    -webkit-transform: translateX(4300px);
    -moz-transform: translateX(4300px);
    -ms-transform: translateX(4300px);
    -o-transform: translateX(4300px);
    -webkit-transition: transform 3s ease-in;
    -moz-transition: transform 3s ease-in;
    -ms-transition: transform 3s ease-in;
    -o-transition: transform 3s ease-in;
}

.change_menu_container {

    display: none;
    background-color: #fff;
    position: absolute;
    width: 60%;
    top:0;
    right: 0;
    bottom:-100%;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
}



  .close_nav_container span {
  
    font-size: 2.6rem;
    cursor: pointer;
    font-weight: 300;
    position: sticky;
    width: auto;
    float: right;
    color:var(--Almost-Black);
    margin-right: 10%;
    margin-top: 2%;
  }
  
  .close_nav_container span:hover {
      background-color: whitesmoke;
      width: 50px;
      text-align: center;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
  
  .menu_list {
    color:var(--Medium-Gray);

    margin-top: 25%;
    margin-left: 20%;
    padding-bottom: 10%;
  }
  
  .menu_list ul li {
  
    list-style-type: none;
    cursor: pointer;
    margin-top: 4%;

  }
  .menu_list .features {
  
    margin-bottom: 4%;
    cursor: pointer;
  }

 .company h3 {
    cursor: pointer;

}
  .menu_list .features ul {
  
    margin-top: 6%;
    margin-bottom: 6%;
  
  
  }
  
  .menu_list .company ul {
    margin-top: 6%;
    margin-bottom: 6%;
  
}
  .menu_list .features img {
  
    margin-right: 4%;
  
  }

  /* login Register mobile and tablets button */

  .button_parent_container_mobile {

    width: 100%;
    display: block;
  }

.button_container_mobile  button{

   border: hidden;
   text-align: start;
   padding-left:3%;
   color: var(--Medium-Gray);
   display: block;
   font-weight: bold;
   margin-top: 4%;
   width: 100px;
   height: 25px;
   border-radius:3px ;
   background-color: #fff;
   border: 1px solid var(--Medium-Gray);
   -webkit-border-radius:3px ;
   -moz-border-radius:3px ;
   -ms-border-radius:3px ;
   -o-border-radius:3px ;
   cursor: pointer;
}

  @media screen  and (max-width:840px){

    .menu_container {
      overflow-x: hidden;

      display: block;
    }



    .change_menu_container {
      overflow-x: hidden;

      display: block;
    }
  }
  