
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
:root {

  --background-color : hsl(0, 0%, 98%);
  --universal-font : 'Epilogue', sans-serif;
  
}

body {
 
  background-color: var(--background-color);
  font-family: var(--universal-font);
  
}


