
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {

  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

}

body{

  background-color: var(--Almost-White);
  user-select: none;
  font-weight: 500;
  overflow-x: hidden;

}
/* tablet & mobile phone menu */

.ultimate_menu_container {
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  top:0;
  bottom: 0;
   position: absolute;
}

.menu_container {
  background-color: var(--Almost-White);
  width: 70vw;
  height: 100%;
  float: right;
}

.close_nav_container span {

  font-size: 2.6rem;
  cursor: pointer;
  font-weight: 300;
  position: sticky;
  width: auto;
  float: right;
  color:var(--Almost-Black);
  margin-right: 10%;
  margin-top: 2%;
}

.close_nav_container span:hover {
    background-color: whitesmoke;
    
    width: 50px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.menu_list {

  margin-top: 25%;
  margin-left: 20%;
  padding-bottom: 10%;
}

.menu_list ul li {

  list-style-type: none;
  cursor: pointer;
}
.menu_list .features {

  margin-bottom: 4%;
  cursor: pointer;
}
.menu_list .features ul {

  margin-top: 6%;
  margin-bottom: 6%;

}

.menu_list .company ul {

  margin-top: 6%;
  margin-bottom: 6%;
}
.menu_list .features img {

  margin-right: 4%;

}